        <!-- pull input parameters -->
        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="projects">
          <div class="my-auto">
            <h2 class="mb-5">Projects</h2>

            <div class="project-section">
                <table>
                <tr>
                <td>
                <a href="https://tcbenchstack.github.io/tcbench/"><img src="img/tcbench_logo.svg"/></a>
                </td>
                <td>
                A Machine Learning and Deep Learning modeling framework for Traffic Classification
                <br>
                <a href="https://github.com/tcbenchstack/tcbench">Github <i class="fab fa-github"></i></a>
                <a href="https://tcbenchstack.github.io/tcbench/">Documentation <i class="fas fa-book"></i></a>
                </td>
                <tr>
                </table>
            </div>

           </div>
        </section>

