<nav class="navbar navbar-expand-lg" id="navbar">
  <!-- LOGO -->
  <a href="/"><img src="/favicon/favicon_exagon_light.svg" id="logo" class="navbar-grand logo-fullsize"></a>

  <!-- AVATAR -->
  <div id="avatar"><img src="/img/me/avatar_round.png"/></div>

  <!-- COLLAPSIBLE -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"><i class="fas fa-bars fa-lg"></i></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a href="/#home" class="navbar-link">Home</a></li>
        <li class="nav-item"><a href="/#projects" class="navbar-link">Projects</a></li>
        <li class="nav-item"><a href="/#talks" class="navbar-link">Talks</a></li>
        <li class="nav-item"><a href="/#research" class="navbar-link">Research</a></li>
        <li class="nav-item"><a href="/#experience" class="navbar-link">Experience</a></li>
        <li class="nav-item"><a href="/#education" class="navbar-link">Education</a></li>
   </ul>
  </div>

  <!-- 
  when NOT collapsed, there are 2 version of the navbar
  1. on the home page, vertical scrolling highlight the visible section
  2. on other pages, navbar items change on hover
  -->
  <div id="navbar-right" class="navbar-right-fullsize">
    {{ $currURL := .Permalink | relURL }}
    {{ if eq $currURL "/" }}
        <span class="navbar-link-marker" id="navbar-link-home">•</span><a href="/#home">Home</a>
        <span class="navbar-link-marker" id="navbar-link-projects">•</span><a href="/#projects">Projects</a>
        <span class="navbar-link-marker" id="navbar-link-talks">•</span><a href="/#talks">Talks</a>
        <span class="navbar-link-marker" id="navbar-link-research">•</span><a href="/#research">Research</a>
        <span class="navbar-link-marker" id="navbar-link-experience">•</span><a href="/#experience">Experience</a>
        <span class="navbar-link-marker" id="navbar-link-education">•</span><a href="/#education">Education</a>
    {{ else }}
        <a href="/#home" class="navbar-link">Home</a>
        <a href="/#projects" class="navbar-link">Projects</a>
        <a href="/#talks" class="navbar-link">Talks</a>
        <a href="/#research" class="navbar-link">Research</a>
        <a href="/#experience" class="navbar-link">Experience</a>
        <a href="/#education" class="navbar-link">Education</a>
    {{ end }}
  </div>
</nav>
