{{ define "main" }}
   {{ partial "about.html" .}}
   {{ if .Site.Params.showSkills }}
       {{ partial "portfolio/skills.html" . }}
   {{ end }}
   {{ if .Site.Params.showPosts }}
      <!--
      {{ with .Site.GetPage "section" "blog" }}
         {{ .Scratch.Set "sectionId" "blog" }}
         {{ partial "sectionSummary" . }}
      {{ end }}
      -->
      {{ partial "posts_summary.html" . }}
   {{ end }}
   {{ if .Site.Params.showProjects }}
      {{ with .Site.GetPage "section" "projects/creations" }}
         {{ .Scratch.Set "sectionId" "projects" }}
         {{ partial "sectionSummary" . }}
      {{ end }}
   {{ end }}
   {{ if .Site.Params.showOpenSource }}
      {{ with .Site.GetPage "section" "projects/contributions" }}
         {{ .Scratch.Set "sectionId" "open" }}
         {{ partial "sectionSummary" . }}
      {{ end }}
   {{ end }}
   {{ if .Site.Params.showTalks }}
      {{ partial "portfolio/talks.html" . }}
   {{ end }}
   {{ if .Site.Params.showAcademicPublications }}
        <!-- input parameters -->
      {{ .Scratch.Set "nyears" (len ( .Site.Data.academic_publications )) }}
      {{ .Scratch.Set "showmore" false }}
      {{ if isset .Site.Params "maxresearchpaperyearsinhome" }}
            {{ .Scratch.Set "nyears" .Site.Params.maxResearchPaperYearsInHome }}
            {{ .Scratch.Set "showmore" true }}
      {{ end }}

      {{ partial "portfolio/academic_publications.html" . }}
   {{ end }}
   {{ if .Site.Params.showPublications }}
      {{ with .Site.GetPage "section" "publications" }}
         {{ .Scratch.Set "sectionId" (default "Publications" .Site.Params.publicationsAlternateName) }}
         {{ partial "sectionSummary" . }}
      {{ end }}
   {{ end }}
   {{ if .Site.Params.showExperience }}
       {{ partial "portfolio/experience.html" . }}
   {{ end }}
   {{ if .Site.Params.showEducation }}
       {{ partial "portfolio/education.html" . }}
   {{ end }}
{{ end }}
