
<article role="article" class="post-item">
    <div class="about">
    <table>
    <tr>
    <td class="about"> <img src="{{site.baseurl}}/assets/img/face_zoom2.png"/> </td>
    <td class="about">
    <p class="about">
    I'm a researcher, walking his way through the telco industry. I currently work as a Principal Analytics Designer at O2 - Telefonica UK Ltd., developing a diversified range of BigData analytics and ML models to understand customers Quality of Experience - QoE and for generic network monitoring.
    </p>
    <p class="about">
    I believe in the power of data, and I'm passionate about complex systems such as mobile networks.
    </p>
    </td>
    </tr>
    </table>
    </div>
</article>
